@font-face {
  font-family: "Allura";
  src: url(../fonts/Allura-Regular.ttf);
}
@font-face {
  font-family: "Poppins";
  src: url(../fonts/Poppins-Medium.ttf);
}
@font-face {
  font-family: "Roboto";
  src: url(../fonts/Roboto-Light.ttf);
}
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

li {
  list-style: none;
}

body {
  text-align: center;
  font-family: Roboto, serif;
  background: #21201e;
}

header {
  background: url(/assets/img/bg-slider-06.jpg) center/cover;
  position: relative;
  min-height: 100vh;
  color: #eee;
  padding: 0px 50px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
header .navbar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
}
header nav {
  height: 12vh;
  display: grid;
  grid-template-columns: 10% 82% 8%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  max-width: 1100px;
  width: 100%;
}
header nav h1 {
  font-family: Allura, cursive;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 2.5rem;
}
header nav .part-mid {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 0 6%;
}
header nav li {
  font-family: Roboto, serif;
  font-size: 0.7rem;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}
header nav .part-right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}
header nav .part-right #icons {
  font-size: 0.8rem;
  cursor: pointer;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}
header nav .part-right #icons:hover {
  font-size: 1rem;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}
header .text-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 88vh;
}
header .text-header .title-container {
  position: absolute;
  top: 38%;
}
header .text-header h1 {
  font-family: Allura, cursive;
  color: rgb(166, 114, 69);
  font-size: 2.5rem;
  font-weight: lighter;
  -webkit-transform: scale(1.4);
          transform: scale(1.4);
}
header .text-header h2 {
  font-family: Poppins, serif;
  text-transform: uppercase;
  font-size: 4rem;
  letter-spacing: 3px;
}
header .text-header img {
  height: 30px;
  width: 30px;
  margin: 2% auto;
}
header .text-header p {
  letter-spacing: 5px;
  word-spacing: 3px;
  font-size: 0.8rem;
}

.section1 {
  display: grid;
  grid-template-columns: 50% 50%;
  height: 420px;
  background: #eee;
}
.section1 .section-container1 {
  display: grid;
  grid-template-rows: 33% 33% 33%;
  padding: 40px 10px;
}
.section1 .section-container1 .container1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-line-pack: distribute;
      align-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.section1 .section-container1 .container1 h1 {
  font-family: Allura, cursive;
  color: rgb(166, 114, 69);
  font-weight: lighter;
  font-size: 2rem;
}
.section1 .section-container1 .container1 h2 {
  font-family: Poppins, serif;
  text-transform: uppercase;
  font-size: 1.1rem;
}
.section1 .section-container1 p {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.section1 .section-container1 .container2 img {
  border-radius: 250px;
  height: 70px;
  width: 70px;
}
.section1 .section-container1 .container2 h3 {
  font-size: 1rem;
  letter-spacing: 1px;
}
.section1 .section-container1 .container2 h4 {
  margin: 5px;
  font-size: 0.8rem;
  color: rgb(182, 182, 182);
}
.section1 .section-container2 {
  background: url(/assets/img/store-01.jpg) center/cover;
}

.section2 {
  height: 100vh;
  margin: 3% 0;
  background: url(/assets/img/bg-menu-01.jpg) center/cover;
}
.section2 h1 {
  font-family: Allura, cursive;
  font-size: 2rem;
  color: rgb(166, 114, 69);
  font-weight: 250;
}
.section2 img {
  margin: 2%;
}
.section2 .container-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.section2 ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  width: 70%;
  position: relative;
  color: #eee;
}
.section2 .menu-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 3%;
}
.section2 .list-menu {
  background: #eee;
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: 25% 25% 25% 25%;
  height: 640px;
  width: 800px;
}
.section2 .list-menu .menu-1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}
.section2 .list-menu .menu-1 img {
  border-radius: 250px;
  height: 90px;
  width: 90px;
}
.section2 .list-menu .menu-1 h3 {
  font-family: Roboto, serif;
  font-size: 0.8rem;
  font-weight: 800;
}
.section2 .list-menu .menu-1 p {
  font-size: 1rem;
}
.section2 .list-menu .menu-1 span {
  font-size: 1.2rem;
  color: rgb(166, 114, 69);
}
.section2 .list-menu .menu-2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}
.section2 .list-menu .menu-2 img {
  border-radius: 250px;
  height: 90px;
  width: 90px;
}
.section2 .list-menu .menu-2 h3 {
  font-family: Roboto, serif;
  font-size: 0.8rem;
  font-weight: 800;
}
.section2 .list-menu .menu-2 p {
  font-size: 1rem;
}
.section2 .list-menu .menu-2 span {
  font-size: 1.2rem;
  color: rgb(166, 114, 69);
}
.section2 .list-menu .menu-3 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}
.section2 .list-menu .menu-3 img {
  border-radius: 250px;
  height: 90px;
  width: 90px;
}
.section2 .list-menu .menu-3 h3 {
  font-family: Roboto, serif;
  font-size: 0.8rem;
  font-weight: 800;
}
.section2 .list-menu .menu-3 p {
  font-size: 1rem;
}
.section2 .list-menu .menu-3 span {
  font-size: 1.2rem;
  color: rgb(166, 114, 69);
}
.section2 .list-menu .menu-4 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}
.section2 .list-menu .menu-4 img {
  border-radius: 250px;
  height: 90px;
  width: 90px;
}
.section2 .list-menu .menu-4 h3 {
  font-family: Roboto, serif;
  font-size: 0.8rem;
  font-weight: 800;
}
.section2 .list-menu .menu-4 p {
  font-size: 1rem;
}
.section2 .list-menu .menu-4 span {
  font-size: 1.2rem;
  color: rgb(166, 114, 69);
}
.section2 .list-menu .menu-5 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}
.section2 .list-menu .menu-5 img {
  border-radius: 250px;
  height: 90px;
  width: 90px;
}
.section2 .list-menu .menu-5 h3 {
  font-family: Roboto, serif;
  font-size: 0.8rem;
  font-weight: 800;
}
.section2 .list-menu .menu-5 p {
  font-size: 1rem;
}
.section2 .list-menu .menu-5 span {
  font-size: 1.2rem;
  color: rgb(166, 114, 69);
}
.section2 .list-menu .menu-6 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}
.section2 .list-menu .menu-6 img {
  border-radius: 250px;
  height: 90px;
  width: 90px;
}
.section2 .list-menu .menu-6 h3 {
  font-family: Roboto, serif;
  font-size: 0.8rem;
  font-weight: 800;
}
.section2 .list-menu .menu-6 p {
  font-size: 1rem;
}
.section2 .list-menu .menu-6 span {
  font-size: 1.2rem;
  color: rgb(166, 114, 69);
}
.section2 .list-menu .menu-7 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}
.section2 .list-menu .menu-7 img {
  border-radius: 250px;
  height: 90px;
  width: 90px;
}
.section2 .list-menu .menu-7 h3 {
  font-family: Roboto, serif;
  font-size: 0.8rem;
  font-weight: 800;
}
.section2 .list-menu .menu-7 p {
  font-size: 1rem;
}
.section2 .list-menu .menu-7 span {
  font-size: 1.2rem;
  color: rgb(166, 114, 69);
}
.section2 .list-menu .menu-8 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}
.section2 .list-menu .menu-8 img {
  border-radius: 250px;
  height: 90px;
  width: 90px;
}
.section2 .list-menu .menu-8 h3 {
  font-family: Roboto, serif;
  font-size: 0.8rem;
  font-weight: 800;
}
.section2 .list-menu .menu-8 p {
  font-size: 1rem;
}
.section2 .list-menu .menu-8 span {
  font-size: 1.2rem;
  color: rgb(166, 114, 69);
}

.section3 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 60vh;
}
.section3 .formulaire-container {
  height: 510px;
  width: 1050px;
  display: grid;
  grid-template-columns: 30% 70%;
}
.section3 .formulaire-container .section1-formulaire {
  background: black;
  color: #eee;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}
.section3 .formulaire-container .section1-formulaire h1 {
  font-family: Allura, cursive;
  font-size: 2rem;
  font-weight: 200;
  color: rgb(166, 114, 69);
}
.section3 .formulaire-container .section1-formulaire h2 {
  font-family: Poppins, serif;
  text-transform: uppercase;
  font-size: 1.5rem;
}
.section3 .formulaire-container .section1-formulaire h3 {
  color: rgb(166, 114, 69);
  font-size: 1.1rem;
}
.section3 .formulaire-container .section1-formulaire p {
  font-size: 0.9rem;
}
.section3 .formulaire-container .section2-formulaire {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  background: #eee;
}
.section3 .formulaire-container .section2-formulaire .container-input {
  display: grid;
  grid-template-columns: 33% 33% 33%;
}
.section3 .formulaire-container .section2-formulaire input {
  height: 40px;
  width: 180px;
}
.section3 .formulaire-container .section2-formulaire button {
  background: #21201e;
  color: #eee;
  border-radius: 50px;
  border: none;
  height: 50px;
  width: 170px;
  letter-spacing: 4px;
  font-size: 0.9rem;
  font-family: Arial, Helvetica, sans-serif;
  cursor: pointer;
}/*# sourceMappingURL=index.css.map */