.section3 {
    @include childCenter;
    height: 60vh;

    .formulaire-container {
        height: 510px;
        width: 1050px;
        display: grid;
        grid-template-columns: 30% 70%;

        .section1-formulaire {
            background: black;
            color: $white;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: space-around;

            h1 {
                @include h1;
                font-size: 2rem;
                font-weight: 200;
                color: $color1;
            }

            h2 {
                @include h2;
                font-size: 1.5rem;
            }

            h3 {
                color: $color1;
                font-size: 1.1rem;
            }

            p {
                font-size: 0.9rem;
            }
        }

        .section2-formulaire {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: space-evenly;
            background: $white;

            .container-input {
                display: grid;
                grid-template-columns: 33% 33% 33%;
            }

            input {
                height: 40px;
                width: 180px;
            }

            button {
                background: $black;
                color: $white;
                border-radius: 50px;
                border: none;
                height: 50px;
                width: 170px;
                letter-spacing: 4px;
                font-size: 0.9rem;
                font-family: Arial, Helvetica, sans-serif;
                cursor: pointer;
            }
        }
    }
}